.articleContent {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.comment {
  font-size: 0.8em;
}

.commentTime, .commentAuthor {
  font-size: 0.6em;
  color: gray;
}

.commentAuthor {
  font-weight: bold;
  color: #365899;
}